@use "utils/colors" as *;

.sohl {
    /* Core text */
    --color-text-primary: #{$c-text-primary};
    --color-text-secondary: #{$c-text-secondary};

    /* Foundry uses these for “light on dark” cases */
    --color-text-light-primary: #{$c-text-inverse};
    --color-text-light-secondary: #{$c-text-inverse};

    /* Borders used by core UI elements */
    --color-border-light-primary: #{$c-border-default};
    --color-border-light-secondary: #{$c-border-subtle};
    --color-border-dark: #{$c-border-strong};

    --color-border-highlight: #{$c-border-strong};
}
