{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<form id="welcome">
    <h2>Welcome to Song of Heroic Lands for Foundry VTT</h2>
    <p>
        This system assists players and GMs in playing Song of Heroic Lands
        as well as other compatible RPG systems by
        taking over much of the bookkeeping and mundane tasks, and speeding up
        the flow of combat through automation.
    </p>
    <div class="form-group">
        <input type="checkbox" name="showOnStartup" checked />
        <label id="showonstartup">Show this tip on startup</label>
    </div>
</form>
