{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab actions" data-tab="actions">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-actions" value=""
            aria-label="Search Actions" placeholder="Search Actions" autocomplete="off" />
    </div>
    <ol class="item-list actions-list">
        <li class="items-header flexrow">
            <h3 class="item-name">Action</h3>
            <div class="item-detail">Group</div>
        </li>
        {{#each actions as |action|}}
        <li class="item flexrow" data-item-id="{{action.item.id}}">
            <div class="item-name flexrow">
                <i class="{{action.data.iconFAClass}}"></i>
                <h4>{{action.data.title}}</h4>
            </div>
            <div class="item-detail">{{action.data.group}}</div>
            <div class="item-controls">
                <a class="item-control item-contextmenu" title="Menu">
                    <i class="fas fa-ellipsis-vertical fa-fw"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
