@use "../utils/colors";
@use "../utils/typography";

section.highlight {
    padding: 0 5px;
    background: colors.$c-bg-overlay-light;
    border: 1px solid colors.$c-border-strong;
}

.editor,
.editor-content {
    @include typography.type-style("editor");
}
