@use "../utils/typography";

section.highlight {
    padding: 0 5px;
    background: var(--sohl-color-bg-overlay-light);
    border: 1px solid var(--sohl-color-border-strong);
}

.editor,
.editor-content {
    @include typography.type-style("editor");
}
