@use "../utils/colors";
@use "../utils/typography";

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    text-transform: none;
    @include typography.type-style("tooltip");
    visibility: hidden;
    width: 240px;
    background-color: colors.$c-tooltip-bg;
    color: colors.$c-tooltip-text;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: colors.$c-tooltip-bg transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
