<section class="content facade" data-group="sheet" data-tab="facade">
    <div class="flexrow">
        <img class="facade-image" src="{{adata.bioImage}}" data-edit="system.bioImage" title="{{actor.name}}"
            height="300" width="200" />
        <div class="facade-description">
            {{{editor adata.description target="system.description" button=true owner=owner editable=editable}}}
        </div>
    </div>
</section>
