@use "../utils/colors";
@use "../utils/typography";

.effects {
    h2 {
        flex: 1;
        margin: 0;
        line-height: 36px;
        @include typography.type-style("label");
        color: colors.$c-text-muted;
        background-color: colors.$c-border-default;
        border-top: 2px groove colors.$c-text-inverse;
        border-bottom: 2px groove colors.$c-text-inverse;
        padding: 5px;
    }

    .danger {
        color: colors.$c-danger;
    }

    .disabled {
        color: colors.$c-text-muted;
    }

    .effects-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: hidden;

        .effects-header {
            margin: 2px 0;
            padding: 0;
            align-items: center;
            background: colors.$c-bg-overlay-dark;
            border: 2px groove colors.$c-border-subtle;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0;
                padding-left: 5px;
                @include typography.type-style("label-small");
            }

            .name {
                color: colors.$c-text-primary;
                flex: 0 0 150px;
                border-right: 1px solid colors.$c-border-default;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                i {
                    font-size: 12px;
                    padding-left: 5px;
                }
            }

            .effect-controls {
                flex: 0 0 45px;
                text-align: right;
                padding-right: 5px;
                color: colors.$c-text-primary;
            }
        }

        .effect-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .effect {
            border-bottom: 1px solid colors.$c-border-default;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .image {
                flex: 0 0 30px;
                background-size: 30px;
                margin-right: 5px;
            }

            img {
                display: block;
            }

            .name {
                flex: 0 0 150px;
                max-height: 30px;
                border-right: 1px solid colors.$c-border-default;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                h4 {
                    margin: 0;
                }
            }
        }

        .effect:last-child {
            border-bottom: none;
        }

        .detail {
            font-size: 12px;
            border-right: 1px solid colors.$c-border-default;
        }

        .ele {
            flex: 0 0 40px;
            text-align: center;
        }

        .duration {
            flex: 0 0 100px;
            text-align: center;
        }

        .source {
            flex: 0 0 150px;
            text-align: center;
            padding-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .target {
            flex: 0 0 150px;
            text-align: center;
            padding-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .changes {
            flex: 1 0 60px;
            text-align: left;
            padding-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .effect-controls {
            flex: 0 0 45px;
            text-align: right;
            padding-right: 5px;
            font-size: 12px;
            color: colors.$c-text-primary;

            .effect-control {
                flex: 0 0 22px;
            }
        }
    }
}
