@use "../utils/colors";

.facade {
    img.facade-image {
        flex: 0 0 200px;
        object-fit: contain;
        background: colors.$c-text-inverse;
    }

    .facade-description {
        margin-left: 5px;
    }
}
