@use "../utils/typography";
@use "../utils/colors";

.item-form {
    @include typography.type-style("body-text");
}

form .form-group .form-fields {
    justify-content: flex-start;
}

.sheet-header-being {
    flex: 0 0 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 2px groove colors.$c-border-subtle;

    .profile-img {
        flex: 0 0 120px;
        height: 120px;
        margin-right: 10px;
        object-fit: contain;
    }

    .header-fields {
        .name-attribute {
            border-bottom: 2px groove colors.$c-border-subtle;

            h1.charname {
                height: 40px;
                padding: 0px;
                margin: 5px 0;
                border-bottom: 0;
                flex: 1 0 200px;

                input {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }

            .healtharea {
                flex: 0 0 110px;
            }

            .health {
                text-align: center;
                padding: 5px 0 0;

                .label {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .healthbar {
                width: 100%;
                margin-bottom: 5px;
                background: colors.$c-bg-input;
                border: 1px solid colors.$c-border-default;
                border-radius: 3px;

                .bar {
                    height: 4px;
                    margin: 1px;
                    display: block;
                    background: colors.$c-health-bar;
                    border: 1px solid colors.$c-border-strong;
                    border-radius: 2px;
                }
            }

            .empty {
                height: 100%;
            }
        }

        .header-stat-block {
            flex: 0 0 140px;

            .penalties {
                padding: 0 0 5px;
                font-size: 12px;
                font-weight: bold;
                align-items: center;

                .capacity-value {
                    font-size: 14px;
                }

                .capacity-label {
                    text-transform: uppercase;
                    font-size: 14px;
                    flex: 0 0 100px;
                }
            }
        }

        .header-attributes {
            font-size: 10px;

            textarea.description {
                resize: none;
                @include typography.type-style("editor");
                border: none;
                background: transparent;
            }

            .attribute {
                min-height: 40px;
                margin: 2px;

                .label {
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .value {
                    font-size: 18px;
                    height: calc(100% - 6px);
                }
            }
        }

        .effect-buttons {
            flex: 0 0 200px;

            .effect-button {
                border: 1px;
                color: colors.$c-text-primary;
                padding: 0px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                border-radius: 16px;
                border-style: solid;
                height: 30px;
                width: 40px;
            }

            .active {
                color: colors.$c-text-inverse;
                background-color: colors.$c-info;
            }
        }

        .bodypart-statuses {
            margin: 0;
            gap: 2px;

            .bodypart-status {
                border: 1px;
                color: colors.$c-text-primary;
                padding-top: 3px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                border-radius: 16px;
                border-style: solid;
                height: 25px;
            }

            .none {
                background-color: colors.$c-border-subtle;
            }

            .impaired {
                background-color: colors.$c-warning;
            }

            .unusable {
                background-color: colors.$c-danger;
            }
        }
    }
}

.sheet-header-object {
    flex: 0 0 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 2px groove colors.$c-border-subtle;

    .profile-img {
        flex: 0 0 120px;
        height: 120px;
        margin-right: 10px;
        object-fit: contain;
    }

    .header-fields {
        .name-attribute {
            border-bottom: 2px groove colors.$c-border-subtle;

            h1.charname {
                height: 40px;
                padding: 0px;
                margin: 5px 0;
                border-bottom: 0;
                flex: 1 0 350px;

                input {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }
        }

        .header-stat-block {
            flex: 0 0 140px;

            .penalties {
                padding: 0 0 5px;
                font-size: 12px;
                font-weight: bold;
                align-items: center;

                .capacity-value {
                    font-size: 14px;
                }

                .capacity-label {
                    text-transform: uppercase;
                    font-size: 14px;
                    flex: 0 0 100px;
                }
            }

            .endurance {
                text-align: center;
                padding: 5px 0 0;

                .label {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .endbar {
                flex: 0 0 8px;
                width: 100%;
                margin-bottom: 5px;
                background: colors.$c-bg-input;
                border: 1px solid colors.$c-border-strong;
                border-radius: 3px;

                .bar {
                    height: 4px;
                    margin: 1px;
                    display: block;
                    background: colors.$c-health-bar;
                    border: 1px solid colors.$c-border-strong;
                    border-radius: 2px;
                }
            }
        }

        .header-attributes {
            font-size: 10px;

            textarea.description {
                resize: none;
                @include typography.type-style("textarea");
                border: none;
                background: transparent;
            }

            .attribute {
                min-height: 40px;
                margin: 2px;

                .label {
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .value {
                    font-size: 18px;
                    height: calc(100% - 6px);
                }
            }
        }

        .effect-buttons {
            flex: 1 0 300px;

            .effect-button {
                border: 1px;
                color: colors.$c-text-primary;
                padding: 0px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                border-radius: 16px;
                border-style: solid;
                height: 30px;
                width: 40px;
            }

            .active {
                color: colors.$c-text-inverse;
                background-color: colors.$c-info;
            }
        }

        .zone-statuses {
            margin: 0;
            gap: 2px;

            .bodyzone-status {
                border: 1px;
                color: colors.$c-text-primary;
                padding-top: 3px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                border-radius: 16px;
                border-style: solid;
                height: 25px;
            }

            .none {
                background-color: colors.$c-border-subtle;
            }

            .impaired {
                background-color: colors.$c-warning;
            }

            .unusable {
                background-color: colors.$c-danger;
            }
        }
    }
}

.macro-sheet .form-group .condition {
    .condition {
        height: 20%;
        resize: none;
    }
}

.tab-body,
.tab-body .tab,
.tab-body .tab .editor {
    height: 100%;
}

.tox {
    .tox-edit-area {
        padding: 0 8px;
    }
}
