form .form-group .form-fields {
    justify-content: flex-start;
}

.tab-body,
.tab-body .tab,
.tab-body .tab .editor {
    height: 100%;
}

.tox {
    .tox-edit-area {
        padding: 0 8px;
    }
}
