@use "../utils/colors";
@use "../utils/typography";

.items {
    h2 {
        flex: 1;
        margin: 0;
        line-height: 36px;
        @include typography.type-style("label");
        color: colors.$c-text-primary;
        background-color: colors.$c-bg-header;
        border-top: 2px groove colors.$c-border-subtle;
        border-bottom: 2px groove colors.$c-border-subtle;
        padding: 5px;
    }

    .danger {
        color: colors.$c-danger;
    }

    .disabled {
        color: colors.$c-text-muted;
    }

    .nocarry {
        color: colors.$c-text-muted;
    }

    .items-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: hidden;

        .items-header {
            margin: 2px 0;
            padding: 0;
            align-items: center;
            background: colors.$c-bg-overlay-dark;
            border: 2px groove colors.$c-border-subtle;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0;
                padding-left: 5px;
                @include typography.type-style("label-small");

                .fas {
                    padding-right: 5px;
                }
            }

            .item-name {
                color: colors.$c-text-primary;
                border-right: 1px solid colors.$c-border-default;

                i {
                    font-size: 12px;
                    padding-left: 5px;
                }
            }

            .capacity {
                flex: 0 0 140px;
                text-align: right;
                padding-right: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .overmaxcap {
                color: colors.$c-danger;
                font-weight: bold;
            }

            .overencumberedcap {
                color: colors.$c-alert;
                font-weight: bold;
            }
        }

        .item-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .name {
            flex: 0 0 200px;
            cursor: pointer;
            max-height: 30px;
            overflow: hidden;
            border-right: 1px solid colors.$c-border-default;

            h4 {
                margin: 0;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .short-name {
            flex: 0 0 120px;
            cursor: pointer;
            max-height: 30px;
            overflow: hidden;
            border-right: 1px solid colors.$c-border-default;

            h4 {
                margin: 0;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .detail {
            font-size: 12px;
            border-right: 1px solid colors.$c-border-default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .notes {
            flex: 1 0 25px;
            text-align: left;
            padding-left: 5px;
        }

        .type {
            flex: 0 0 60px;
            text-align: center;
        }

        .subtype {
            flex: 0 0 90px;
            text-align: center;
        }

        .impact {
            flex: 0 0 60px;
            text-align: center;
        }

        .ele {
            flex: 0 0 40px;
            text-align: center;
        }

        .duration {
            flex: 0 0 100px;
            text-align: center;
            padding-left: 1px;
            padding-right: 1px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .value {
                padding-left: 3px;
            }
        }

        .source {
            flex: 0 0 120px;
            text-align: left;
            padding-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .aspect {
            flex: 0 0 60px;
            text-align: center;
        }

        .item-controls {
            flex: 0 0 45px;
            text-align: right;
            padding-right: 5px;
            font-size: 12px;

            .item-control {
                flex: 0 0 22px;
            }
        }

        .item-controls-wide {
            flex: 0 0 65px;
            text-align: right;
            padding-right: 5px;
            font-size: 12px;

            .item-control {
                flex: 0 0 22px;
            }
        }

        .item {
            line-height: 24px;
            padding: 0 2px;
            border-bottom: 1px solid colors.$c-border-default;

            .item-image {
                flex: 0 0 30px;
                background-size: 24px 24px;
                background-repeat: no-repeat;
                margin-right: 5px;
            }

            .print-item-image {
                flex: 0 0 30px;
                margin-right: 5px;
            }

            img {
                display: block;
            }
        }

        .item:last-child {
            border-bottom: none;
        }
    }
}

.items-block + .items-block {
    margin-top: 10px;
}
