// Resource widget (timed/consumable resources and artifacts).

.resource {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .time-label {
        flex: 0 0 100px;
    }

    .time-control {
        flex: 0 0 60px;
    }
}

.artifact {
    padding-top: 5px;
    align-items: center;
}
