@use "../utils/colors";
@use "../utils/typography";

nav.tabs {
    flex: 0 0 auto;
    margin-bottom: 5px;
    @include typography.type-style("tab");
    line-height: 32px;
    //    margin: 0 24px;
    border-top: none;
    border-bottom: none;
    color: colors.$c-text-secondary;

    &:hover,
    &:focus {
        background: colors.$c-bg-overlay-dark;
    }

    .active {
        text-shadow: none;
        @include typography.type-style("active-tab");
        border-bottom: 3px solid colors.$c-text-primary;
        color: colors.$c-text-primary;
    }
}

//.tab-body .tab {
//    margin-right: 5px;
//}
