@use "../utils/colors";
@use "../utils/typography";

.tabs [data-tab] {
    flex: 0 0 auto;
    margin-bottom: 5px;
    @include typography.type-style("tab");

    .item {
        line-height: 32px;
        margin: 0 24px;
        border-bottom: 3px solid colors.$c-border-strong;

        &:hover,
        &:focus {
            background: colors.$c-bg-overlay-dark;
        }
    }

    .item.active {
        text-shadow: none;
        border-bottom: 3px solid colors.$c-text-primary;
        font-size: 25px;
    }
}

.tab-body .tab {
    margin-right: 5px;
}
